@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;700&display=swap');

:root {
    --dbm-bg-color: #F9F9F9;
    --dbm-panel-bg: #ffffff;
    --dbm-input-bg: #F3F4F6;
    --dbm-text-primary: #23272c;
    --dbm-text-secondary: #6B7280;
    --dbm-primary-color: #23272c;
    --dbm-primary-hover: #4a5460;
    --dbm-danger-color: #EF4444;
    --dbm-danger-hover: #dc2626;
    --dbm-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    --dbm-radius: 20px;
    --dbm-radius-inner: 16px;
    --dbm-transition: all 0.2s ease-in-out;
    --dbm-secondary-bg: #e9eaeb;
    --dbm-secondary-hover: #dfe0e1;
}

/* --- ОБЩИЕ СТИЛИ И ВЫДЕЛЕНИЕ --- */
body.selection-active,
body.selection-active * {
    cursor: crosshair !important;
}

.dbm-highlight-element {
    outline: 2px dashed var(--dbm-primary-color) !important;
    background-color: rgba(35, 39, 44, 0.1) !important;
    box-shadow: 0 0 15px rgba(35, 39, 44, 0.2);
    z-index: 99998 !important;
}

.dbm-highlight-element-child {
    outline: 2px solid #007bff !important;
    outline-offset: 2px;
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.5);
    background-color: rgba(0, 123, 255, 0.1);
}

.dbm-highlight-element-manager {
    outline: 2px dashed #007bff !important;
    outline-offset: 2px;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.dbm-currently-editing-element {
    outline: 2px solid var(--dbm-primary-color) !important;
    box-shadow: 0px 0px 24px 0px rgba(35, 39, 44, 0.2);
    z-index: 99998 !important;
    border-radius: 16px;
    outline-offset: 6px;
}

.hidden {
    display: none !important;
}

/* --- ИНСПЕКТОР ЭЛЕМЕНТОВ --- */
#dbm-inspector-tooltip {
    position: absolute;
    z-index: 99999;
    width: auto;
    min-width: 300px;
    max-width: 400px;
    background-color: #F1F2F6;
    color: #e2e8f0;
    border-radius: 20px;
    box-shadow: var(--dbm-shadow);
    padding: 8px;
    display: none;
    border: 2px solid #E6EAED;
    font-size: 14px;
    pointer-events: none;
    max-height: 350px;
    overflow: auto;
}
#dbm-ai-helper-btn {
    background-image: linear-gradient(36deg, #23272d, #d5dadd);
background-size: 100% 100%;
    transition: all 0.2s ease-in;
    color: white;
}
#dbm-ai-helper-btn:hover {
    background-image: linear-gradient(36deg, #23272d, #d5dadd);
background-size: 200% 200%;
}
#dbm-inspector-tooltip.is-interactive {
    pointer-events: auto;
}
.dbm-inspector-section {
    padding: 8px;
    border-bottom: 1px solid #4a5460;
}
.dbm-inspector-section:last-child {
    border-bottom: none;
}
.dbm-inspector-section h4 {
    font-size: 14px;
    /* text-transform: uppercase; */
    color: #94a3b8;
    margin-bottom: 8px;
    font-weight: 500;
}
.dbm-selector-list-group {
    border-bottom: 1px solid #b7c6d2;
    padding-bottom: 8px;
    margin-bottom: 8px;
}
.dbm-selector-list-group:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.dbm-selector-tag {
    background-color: var(--dbm-input-bg);
    color: #404b54;
    padding: 8px;
    border-radius: 12px;
    font-family: sans-serif;
    cursor: pointer;
    transition: var(--dbm-transition);
    display: inline-flex;
    align-items: center;
    margin: 4px;
    gap: 13px;
    font-size: 14px;
    /* border: 1px solid transparent; */
}

.dbm-selector-tag:hover {
    background-color: #23272d;
    color: white;
    border-color: #94a3b8;
}
.dbm-selector-tag.is-target {
    background-color: #333;
    color: #fff;
    border-color: #555;
}
.dbm-translation-badge, .dbm-element-type-badge {
    background-color: var(--dbm-primary-color);
    color: #fff;
    font-size: 11px;
    font-family: 'Onest', sans-serif;
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: 500;
}
.dbm-selector-tag.is-target .dbm-translation-badge {
    background-color: #ffffff;
    color: #23272d;
}
.dbm-element-type-badge {
    background-color: #E6EAED;
    color: #23272d;
}
.dbm-translation-badge-small {
    font-size: 10px;
    padding: 3px 6px;
    border-radius: 5px;
    background-color: var(--dbm-primary-color);
    color: #fff;
    margin-left: 8px;
}

/* --- ОСНОВНАЯ ПАНЕЛЬ --- */
#dbm-editor-panel {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999999999999999;
    width: 420px;
    min-width: 380px;
    max-width: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--dbm-panel-bg);
    box-shadow: var(--dbm-shadow);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    border-left: 1px solid #F3F4F6;
    overflow: hidden;
    font-family: 'Onest', sans-serif;
}
#dbm-editor-panel.collapsed {
    transform: translateX(calc(100% + 20px));
    opacity: 0;
    pointer-events: none;
}
#dbm-panel-resize-handle {
    position: absolute;
    top: 0;
    left: -5px;
    width: 10px;
    height: 100%;
    cursor: col-resize;
    z-index: 10001;
}
#dbm-panel-toggle-collapsed {
    position: fixed;
    top: 20px;
    right: -50px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    background-color: var(--dbm-primary-color);
    color: white;
    border-radius: var(--dbm-radius-inner) 0 0 var(--dbm-radius-inner);
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
#dbm-editor-panel.collapsed + #dbm-panel-toggle-collapsed {
    opacity: 1;
    right: 0;
}

/* --- ШАПКА ПАНЕЛИ --- */
#dbm-panel-top-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 12px;
    border-bottom: 1px solid #F3F4F6;
    flex-shrink: 0;
}
.dbm-panel-main-title-wrapper {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
    gap: 10px;
}
.dbm-panel-main-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.4px;
    margin: 0;
}
#dbm-panel-header {
    padding: 12px;
    border-bottom: 1px solid #F3F4F6;
    flex-shrink: 0;
    background-color: #f3f4f6;
}
#dbm-panel-header .dbm-header-main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: #D5DADD;
    box-sizing: border-box;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 1px solid #e6eaed;
}
#dbm-panel-header .dbm-header-title-group {
    display: flex;
    align-items: center;
    gap: 12px;
    overflow: hidden;
    width: 100%;
}
#dbm-panel-header .dbm-header-title-text {
    overflow: hidden;
    width: 100%;
}
.dbm-modal-body .dbm-subsection {
    padding: 0 !important;
    border: none;
}
#dbm-panel-header .dbm-block-info {
    font-size: 11px;
    color: var(--dbm-text-secondary);
    margin-bottom: 6px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#dbm-panel-footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

#dbm-copy-code-btn {
    width: 48px !important;
    height: 48px;;
    border-radius: var(--dbm-radius-inner);
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    border: none;
    transition: var(--dbm-transition);
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #f3f4f6;
    box-sizing: content-box;
}

#dbm-copy-code-btn svg{
    width: 20px !important;
    height: 20px !important;
}
#dbm-editable-selector-title {
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 500;
    color: var(--dbm-text-primary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    cursor: pointer;
    padding: 2px 8px;
    background-color: #f3f4f6;
    border-radius: 12px;
    outline: 0px solid #E6EAED;
}
.dbm-editable-selector-input {
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 500;
    color: var(--dbm-text-primary);
    margin: 0;
    width: 100%;
    display: inline-block;
    padding: 2px 8px;
    background-color: #ffffff;
    border-radius: 12px;
    outline: 1px solid #E6EAED;
    text-align: left;
}
.dbm-editable-selector-input:focus {
    /* outline: none; */
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 500;
    color: var(--dbm-text-primary);
    margin: 0;
    width: 100%;
    display: inline-block;
    padding: 2px 8px;
    background-color: #ffffff;
    border-radius: 12px;
    outline: 1px solid #E6EAED;
    text-align: left;
}
#dbm-panel-header .dbm-add-id-class {
    /* margin-top: 12px; */
    padding: 12px;
    border-radius: 0px 0px 20px 20px;
    background-color: #ffffff;
    font-size: 14px;
    letter-spacing: -0.2px;
}

/* --- КОНТЕНТ ПАНЕЛИ --- */
#dbm-panel-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 12px 12px 12px;
    position: relative;
    background-color: #f3f4f6;
}
#dbm-panel-content::-webkit-scrollbar { width: 6px; }
#dbm-panel-content::-webkit-scrollbar-track { background: transparent; }
#dbm-panel-content::-webkit-scrollbar-thumb { background: #ccc; border-radius: 10px;}
#dbm-panel-content::-webkit-scrollbar-thumb:hover { background: #aaa; }

#dbm-panel-footer {
    padding: 16px 24px;
    border-top: 1px solid #F3F4F6;
    background-color: var(--dbm-panel-bg);
    flex-shrink: 0;
    display: flex;
    flex-direction: row-reverse;
}
#dbm-create-preset-container {
    padding: 16px 24px;
    border-top: 1px solid #F3F4F6;
    background-color: var(--dbm-panel-bg);
    display: none;
}
.dbm-subsection {
    padding: 20px !important;
    background-color: white;
    border-radius: 20px;
    box-sizing:border-box;
}

#dbm-editor-view {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#dbm-editor-view .dbm-subsection {
    margin: 0;
}

#dbm-controls-container .dbm-subsection {
    padding: 0 !important;
}
/* --- ОБЩИЕ UI-КОМПОНЕНТЫ --- */
.dbm-btn {
    padding: 16px 16px;
    border-radius: var(--dbm-radius-inner);
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    border: none;
    transition: var(--dbm-transition);
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    box-sizing: border-box;
}
.dbm-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.dbm-btn.dbm-btn-primary {
    background-color: var(--dbm-primary-color);
    color: white;
}
.dbm-btn.dbm-btn-primary:not(:disabled):hover {
    background-color: var(--dbm-primary-hover);
}
.dbm-btn.dbm-btn-secondary {
    background-color: var(--dbm-input-bg);
    color: var(--dbm-text-primary);
}
.dbm-btn.dbm-btn-secondary:not(:disabled):hover {
    background-color: var(--dbm-secondary-hover);
}
.dbm-btn.dbm-btn-sm {
    padding: 10px 16px;
    font-size: 0.875rem;
    width: auto;
}
.dbm-icon-btn,
.dbm-delete-target-btn {
    background: none;
    border: none;
    padding: 4px !important;
    color: var(--dbm-text-secondary);
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--dbm-transition);
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}
.dbm-icon-btn:hover,
.dbm-delete-target-btn:hover {
    background-color: var(--dbm-secondary-bg) !important;
    color: var(--dbm-text-primary);
}
.dbm-toolbar-btn {
    width: 40px;
    height: 40px;
    background-color: var(--dbm-input-bg);
    border-radius: 12px;
}
.dbm-subsection {
    margin-top: 32px;
    padding-top: 24px;
    border-top: 1px solid #F3F4F6;
}
.dbm-subsection:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}
.dbm-subsection-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dbm-subsection-header h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    letter-spacing: -0.4px;
}
.dbm-layers-title {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    letter-spacing: -0.4px;
    margin-bottom: 15px;
}
.dbm-subsection-actions {
    display: flex;
    align-items: center;
    gap: 8px;
}
.dbm-form-group {
    margin-bottom: 16px;
}
.dbm-form-group:last-child { margin-bottom: 0; }
.dbm-form-group label {
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 0.875rem;
    color: var(--dbm-text-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dbm-form-group input,
.dbm-form-group select,
.dbm-form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border: none;
    border-radius: var(--dbm-radius-inner);
    height: 50px;
    background-color: var(--dbm-input-bg);
    font-size: 1rem;
    font-family: inherit;
    color: var(--dbm-text-primary);
    transition: var(--dbm-transition);
    box-sizing: border-box;
}
.dbm-form-group textarea { height: auto; resize: vertical; }
.dbm-form-group input:focus,
.dbm-form-group select:focus,
.dbm-form-group textarea:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--dbm-secondary-hover);
}
.dbm-grid-2 { display: grid; grid-template-columns: repeat(2, 1fr); gap: 16px; }
.dbm-grid-3 { display: grid; grid-template-columns: repeat(3, 1fr); gap: 16px; }
.dbm-grid-4 { display: grid; grid-template-columns: repeat(4, 1fr); gap: 16px; }
.dbm-color-input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--dbm-input-bg);
    border-radius: var(--dbm-radius-inner);
    padding-right: 8px;
    height: 50px;
    transition: var(--dbm-transition);
}
.dbm-color-input-wrapper:focus-within { box-shadow: inset 0 0 0 2px var(--dbm-secondary-hover); }
.dbm-color-input-wrapper input[type="text"] { flex-grow: 1; border: none; background: transparent; height: 100%; padding: 0 16px; }
.dbm-color-input-wrapper input[type="text"]:focus { box-shadow: none; outline: none; }
.dbm-color-input-wrapper input[type="color"] { width: 28px; height: 28px; border: none; border-radius: 8px; background-color: transparent; cursor: pointer; padding: 0; }
.dbm-color-input-wrapper input[type="color"]::-webkit-color-swatch-wrapper { padding: 0; }
.dbm-color-input-wrapper input[type="color"]::-webkit-color-swatch { border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 6px; }
.dbm-switch { position: relative; display: inline-block; width: 32px; height: 16px; flex-shrink: 0; }
.dbm-switch input { opacity: 0; width: 0; height: 0; }
.dbm-slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #E6EAED; transition: var(--dbm-transition); border-radius: 6px; }
.dbm-slider:before { position: absolute; content: ""; height: 12px; width: 12px; left: 2px; bottom: 2px; background-color: white; transition: var(--dbm-transition); border-radius: 4px; }
input:checked + .dbm-slider { background-color: var(--dbm-primary-color); }
input:checked + .dbm-slider:before { transform: translateX(16px); }
.dbm-switch.as-label {
    display: flex;
    align-items: center;
    gap: 12px;
    /* width: 100%; */
}
.dbm-add-id-class {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.dbm-switch.as-label span:not(.dbm-slider) {
    font-size: 14px;
    font-weight: 500;
    color: var(--dbm-text-primary);
}

/* --- МЕНЕДЖЕР ЭФФЕКТОВ (ПЕРВЫЙ ЭКРАН) --- */
#dbm-effects-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* margin-top: 24px; */
    height: 100%;
    justify-content: center;
}
#dbm-manager-view{
    height: 100%;
}
#dbm-copy-code-btn.visible {
    display: block !important;
}

button#dbm-copy-code-btn {
    display: none !important;
}
#dbm-effects-list:has(.dbm-effect-item-card) {
    justify-content: flex-start;
}
#dbm-panel-content:has(.dbm-effect-item-card){
    padding-top: 20px;
}
.dbm-no-effects-placeholder {
    text-align: center;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    /* border: 2px dashed #fff; */
    background-color: white;;
    border-radius: var(--dbm-radius);
}
#dbm-back-to-manager-btn {
    /* Свойства в скрытом состоянии */
    opacity: 0;
    width: 0;
    margin-right: 0;
    padding: 0 !important; 
    overflow: hidden;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}
#dbm-back-to-manager-btn.visible {
    opacity: 1;
    width: 28px; /* Фиксированная ширина иконки-кнопки */
    height: 28px;
    padding: 4px;
    box-sizing: border-box;
    margin-right: 8px; /* Отступ справа от заголовка */
    pointer-events: auto;
}
.dbm-editable-selector-input {
    width: 100% !important;
    min-width: 0;
    box-sizing: border-box;
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 500;
    color: var(--dbm-text-primary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    cursor: pointer;
    padding: 2px 8px;
    background-color: #f3f4f6;
    border-radius: 12px;
    outline: 1px solid #E6EAED;
}
#dbm-create-preset-btn {
    width: 36px;
    height: 36px;
    margin-left: -10px !important;
}

.dbm-icon-btn.dbm-btn-secondary.dbm-btn-sm {
    border-radius: 12px;
    background-color: var(--dbm-input-bg);
    color: var(--dbm-text-primary);
    width: 36px;
    height: 36px;
    box-sizing:border-box;
}
.dbm-icon-btn.dbm-btn-secondary.dbm-btn-sm svg{
    width: 16px;
    height: 16px;
}
.dbm-no-effects-placeholder .dbm-icon { color: #d1d5db; }
.dbm-no-effects-placeholder h3 { font-size: 1.25rem; font-weight: 500; color: var(--dbm-text-primary); margin: 0; }
.dbm-no-effects-placeholder p { font-size: 0.9rem; color: var(--dbm-text-secondary); max-width: 300px; margin: 0; }
.dbm-effect-item-card {
    background-color: #ffffff;
    border: 1px solid #F3F4F6;
    padding: 16px;
    border-radius: var(--dbm-radius-inner);
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: var(--dbm-transition);
    cursor: pointer;
}
.dbm-effect-item-card:hover {
    border-color: #e5e7eb;
    transform: translateY(-2px);
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
.dbm-effect-item-header { display: flex; justify-content: space-between; align-items: flex-start; }
.dbm-effect-item-info { display: flex; flex-direction: column; gap: 4px; overflow: hidden; }
.dbm-effect-item-block-name { font-size: 11px; font-weight: 500; color: var(--dbm-text-secondary); }
.dbm-effect-item-selector { font-weight: 500; font-size: 16px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.dbm-effect-item-stats { display: flex; gap: 8px; flex-wrap: wrap; }
.dbm-effect-item-badge { font-size: 10px; background-color: var(--dbm-input-bg); color: var(--dbm-text-secondary); padding: 4px 8px; border-radius: 6px; font-weight: 400; }
.dbm-effect-item-actions { display: flex; align-items: center; gap: 4px; flex-shrink: 0; }
.dbm-inspector-section .dbm-selector-tag {
    background-color: white;
}

.dbm-inspector-section .dbm-selector-tag.is-target{
    background-color: #23272d !important;
}

.dbm-inspector-section .dbm-selector-tag:hover {
    background-color: #23272d;
    color: white;
}

.dbm-inspector-section .dbm-selector-tag:hover .dbm-translation-badge{
    background-color:white;
    color: #23272d;
}

.dbm-modal-list .dbm-selector-tag:hover .dbm-translation-badge{
    background-color: #fff;
    color: #23272d;
    border-color: #94a3b8;
}

.dbm-modal-list-item{
    background-color: #f3f4f6;
    font-size: 14px;
}
#dbm-create-preset-btn {
    display: none;
}

#dbm-create-preset-btn.visible {
    display: block;
}
/* --- РЕДАКТОР ЭФФЕКТОВ (ВТОРОЙ ЭКРАН) --- */
#dbm-elements-tabs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#dbm-elements-tabs-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-top: 16px;
}
.dbm-element-tab-wrapper {
    position: relative;
    padding-left: 20px;
}
.dbm-element-tab-wrapper::before {
    content: '↳';
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
    font-size: 16px;
}
.dbm-element-tab {
    padding: 8px 12px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s;
    border: 1px solid transparent;
    background-color: var(--dbm-input-bg);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}
.dbm-element-tab:hover { background-color: var(--dbm-secondary-hover); }
.dbm-element-tab.active { background-color: var(--dbm-primary-color); color: white; }
.dbm-element-tab.active .dbm-element-tab-subtitle { color: rgba(255, 255, 255, 0.7); }
.dbm-element-tab.active .dbm-translation-badge-small {
    background-color: var(--dbm-panel-bg);
    color: var(--dbm-primary-color);
}
.dbm-element-tab-info { display: flex; flex-direction: column; overflow: hidden; gap: 4px; }
.dbm-element-tab-title { font-weight: 500; display: flex; align-items: center; gap: 4px; }
.dbm-element-tab-subtitle { font-size: 11px; color: var(--dbm-text-secondary); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.dbm-element-tab-indicator { color: #00aaff; }

#dbm-preset-indicator-container { margin-bottom: 0px; }
#dbm-preset-indicator {
    background-color: #eef2ff;
    border: 1px solid #c7d2fe;
    color: #4338ca;
    padding: 12px;
    border-radius: var(--dbm-radius-inner);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
#dbm-preset-indicator span { font-size: 14px; font-weight: 500; }
#dbm-preset-indicator strong { font-weight: 700; }
#dbm-reset-preset-btn { font-size: 12px; color: #64748b; background: none; border: none; cursor: pointer; text-decoration: underline; }

.dbm-controls-grid { display: grid; grid-template-columns: repeat(2, 1fr); gap: 12px; }
.dbm-property-group-card {
    background: var(--dbm-input-bg);
    border-radius: var(--dbm-radius-inner);
    padding: 16px;
    display: grid;
    grid-template-areas: "header switch" "footer switch";
    grid-template-columns: 1fr auto;
    gap: 4px 16px;
    cursor: pointer;
    transition: var(--dbm-transition);
    outline: 2px solid transparent;
    outline-offset: -2px;
}
.dbm-property-group-card:hover { background-color: var(--dbm-secondary-hover); }
.dbm-property-group-card.active { outline-color: var(--dbm-primary-color); }
.dbm-property-group-card .dbm-card-header { 
    grid-area: header; 
    font-size: 14px;
    letter-spacing: -0.2px;
}
.dbm-property-group-card h4 { margin: 0; font-size: 14px; font-weight: 500; color: var(--dbm-text-primary); }
.dbm-property-group-card .dbm-card-effect-count { grid-area: footer; margin: 0; font-size: 12px; color: var(--dbm-text-secondary); }
.dbm-property-group-card .dbm-switch { grid-area: switch; align-self: center;     grid-row: -1 / 1;
    align-self: start;}

/* --- МОДАЛЬНЫЕ ОКНА --- */
#dbm-panel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0 0 0 / 50%);
    backdrop-filter: blur(4px);
    z-index: 10001;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
}
#dbm-panel-overlay.visible {
    opacity: 1;
    pointer-events: auto;
}
.dbm-modal-content-wrapper {
    width: 100%;
    height: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dbm-modal-content {
    background: white;
    padding: 24px;
    border-radius: var(--dbm-radius);
    box-shadow: var(--dbm-shadow);
    width: 100%;
    max-width: 500px;
    max-height: 90%;
    display: flex;
    flex-direction: column;
}
.dbm-modal-content.dbm-modal-props-editor {
    max-width: 95%;
}
.dbm-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.dbm-modal-content h4 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.dbm-modal-body {
    overflow-y: auto;
    /* padding-right: 12px; */
    /* margin-right: -12px; */
}
.dbm-modal-body.disabled {
    opacity: 0.5;
    pointer-events: none;
}
.dbm-modal-body .dbm-form-group input,
.dbm-modal-body .dbm-form-group select,
.dbm-modal-body .dbm-form-group textarea,
.dbm-modal-body .dbm-color-input-wrapper {
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #e5e7eb;
}
.dbm-modal-list {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 15px;
}
.dbm-editor-controls {
    padding: 20px;
    background-color: #D5DADD;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dbm-editor-control-row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    letter-spacing: -0.2px;
    font-weight: 500;
}
.dbm-modal-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    border-radius: 12px;
    transition: var(--dbm-transition);
    border: 1px solid transparent;
}
.dbm-modal-list-item.can-apply:hover {
    background-color: var(--dbm-input-bg);
    cursor: pointer;
}
.dbm-modal-list-item.selected {
    background-color: var(--dbm-secondary-hover);
    border-color: var(--dbm-primary-color);
}
.dbm-modal-list-item.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.dbm-modal-list-item-info {
    display: flex;
    align-items: center;
    gap: 8px;
}
.dbm-modal-footer {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    flex-shrink: 0;
    flex-direction: column;
}
.dbm-easing-presets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}
.dbm-easing-preset {
    background-color: #fff;
    border: 2px solid #f3f4f6;
    padding: 12px;
    border-radius: var(--dbm-radius-inner);
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease;
    font-size: 14px;
}
.dbm-easing-preset:hover {
    background-color: var(--dbm-secondary-hover);
}
.dbm-easing-preset.active {
    border-color: var(--dbm-primary-color);
    font-weight: 500;
}
#dbm-custom-bezier-inputs {
    display: none;
    margin-top: 12px;
}
#dbm-custom-bezier-inputs.active {
    display: grid;
}